* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans' ,sans-serif;
    background: #DFF6FF;
    background-image: url("https://png.pngtree.com/background/20210709/original/pngtree-data-product-technology-the-internet-picture-image_910166.jpg");
    background-position: center;
    background-size: center;
    height: 100vh;
    width: 100%;
    
}

.wrapper {
    width: 1100px;
    margin: auto;
    position:relative;
}

.logo a {
    font-size: 50px;
    font-weight: bold;
    float: left;
    font-family: sans-serif;
    color: #44749d;
}

.menu {
    float:right;
}

nav{
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: #B8FFF9;
    z-index: 1;
    border-bottom:1px solid #B1B2FF;
    background-image: url("https://img.freepik.com/premium-vector/modern-white-gray-abstract-web-banner-background-creative-design-vector-abstract-graphic-design-banner-pattern-background-template_181182-18256.jpg");
    background-position: center;
    background-size: cover;
    
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

section {
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}

.kolom {
    margin: 50px 20px;
}

.kolom .deskripsi {
    font-size: 30px;
    font-weight: bold;
    font-family: 'Alkalami', serif;
    color: black;
    text-align: center;
}

h2{
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 45px;
    margin-bottom: 20px;
    color: #44749d;;
    width: 100%;
    line-height: 50px;
    text-align: center;
    padding: 35px 0px;
}

a.tbl-hijau{
    background: #47B5FF;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #FFFFFf;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-hijau:hover {
    background: #645CAA;
    text-decoration: none;
}

a.tbl-biru {
    background: #645CAA;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #FFFFFf;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-biru:hover {
    background: #47B5FF;
    text-decoration: none;
}

p{
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
}

#contact {
    background:  white;
    padding: 0px 0px;
    text-align: center;
    display:inline-flex
    
    
}

#abouts {
    padding: 0px 30px 10px 0px;
    margin:10px 0px 30px 0px;
    font-family: 'Merriweather', serif;
    text-align:justify;
    
}

.kolom .judul {
    font-size: 40px;
    font-weight: bold;
    font-family: 'Alkalami', serif;
    color: black;
    text-align: center;
    padding: 0px 50px 30px 100px;
}
.home {
    margin: 50px 50px;
}


.footer-Backgroud{
	background-color: #31C6D4;
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 10px 50px 10px 50px;
	margin-top: 80px;
    background-image: url("https://pic.90sheji.com/back_origin_pic/05/75/10/569edcf8a26636999048303ab22f97e1.jpg!/fh/465/quality/90/unsharp/true/compress/true/canvas/1000x465a0a0/cvscolor/FFFFFFFF");
    background-size: cover;
}

.footer-Backgroud .footer-kiri,
.footer-Backgroud .footer-center,
.footer-Backgroud .footer-kanan{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-Backgroud .footer-kiri{
	width: 30%;
}

.footer-Backgroud .footer-link{
	color:  black;
	margin: 20px 0 12px;
}

.footer-Backgroud .footer-link a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-Backgroud .footer-name{
	color:  black;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

.footer-Backgroud .footer-center{
	width: 35%;
}


.footer-Backgroud .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-Backgroud .footer-center i.email{
	font-size: 17px;
	line-height: 38px;
}

.footer-Backgroud .footer-center p{
	display: inline-block;
	color: bla;
	vertical-align: middle;
	margin:0;
}

.footer-Backgroud .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-Backgroud .footer-center p a{
	color: rgb(7, 12, 11);
	text-decoration: none;;
}

/* ukuran footer kanan */
.footer-Backgroud .footer-kanan{
	width: 30%;
}

.footer-Backgroud .footer-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-Backgroud .footer-about span{
	display: block;
	color:  black;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 20px;
}

@media screen and (max-width:720px){
    .footer-Backgroud{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .footer-Backgroud .footer-center,.footer-Backgroud .footer-kanan,.footer-Backgroud .footer-kiri{
        width: 500px;
        margin: 10px;
        /* background-color: red; */
    }
}

@media screen and (max-width:991.98px){
    .wrapper{
        width:90%;
    }
    
    .logo a{
        display: block;
        width: 100%;
        text-align: center;
    }

    nav .menu {
        width: 100%;
        margin: 0;
    }
    
    nav .menu ul{
        text-align: center;
        margin: auto;
        line-height: 60px;
    }

    nav .menu ul li {
        display: inline-block;
        float: none;
    }

    section {
        display: block;
    }

    section img {
        display: block;
        width: 100%;
        height: auto;
        
    }

    .kolom{
        display: block;
        width: 100%;
        
    }

    .kontak{
        display: block;
        width: 50%;
        
    }

    

    
}

.kontak img:hover{
    background-color: #FFFFFF;
    transform: scale(0.9);
    cursor:pointer;
}

.kontak {
    margin: 50px 100px;
}

.kontak .deskripsi {
    font-size: 28px;
    font-weight: bold;
    font-family: 'Alkalami', serif;
    color: black;
    text-align: center;
}

.kolom .tentang {
    font-size: 25px;
    font-weight: bold;
    font-family: 'Alkalami', serif;
    color: #3B3486;
    text-align:left;
    padding: 0px;
   
}

#home {
    padding: 0px 30px 10px 0px;
    margin:10px 0px 30px 0px;
    font-family: 'Merriweather', serif;
    text-align:justify;
    
}
.ham-btn{
    position:absolute;
    top:25px;
    right: 2px;
    
}
i.ham-btn{
    font-size: 30px;
    display: none;
}
.menu.active{
    display: block;
}
@media screen and (max-width: 768px) {
    .menu{
        display: none;
    }
    i.ham-btn{
        display: block;
    }
}
.section{
    padding: 25px 0;
    border: 1px solid;
}
.box{
    background-color: #fff;
    border: 1px solid#ccc;
    padding: 15px;
    box-sizing: border-box;
    margin: 10px 0 25px 0;
}

.input-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
}
.btn {
    padding: 8px 15px;
    background-color: #c70039;
    color: #fff;
    border: none;
    cursor: pointer;
}
h3 {
    font-size: 25px;
    font-weight: bold;
    padding: 0px 40px;
    font-family: sans-serif;
    color: #44749d;
}
.table{
    width: 100%;
    border-collapse: collapse;
}
.table tr{
    height: 30px;
}
.table tr td{
    padding: 5px 10px;
}