* {
    padding:0;
    margin:0;
    font-family: 'Quicsand', sans-serif;
}
body{
    background-color: #f8f8f8;
    background-image: url("https://png.pngtree.com/thumb_back/fw800/background/20190221/ourmid/pngtree-technology-business-line-ppt-background-image_18886.jpg");
}
a{
    color:inherit;
}
#bg-login{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.box-login{
    width: 300px;
    min-height: 200px;
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 15px;
    box-sizing:border-box;
}
.box-login h2 {
    text-align: center;
    margin-bottom: 15px;
}
.input-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
}
.btn {
    padding: 8px 15px;
    background-color: #c70039;
    color: #fff;
    border: none;
    cursor: pointer;
}
header{
    border: 1px solid;
    background-color: #c70039;
    color: #fff;
}
header h1{
    float: left;
}
header ul {
    float: right;
}
header ul li{
    display:inline-block;

}
.container{
    width: 80%;
    margin: 0 auto;
}
.container::after{
    content: '';
    display: block;
    clear: both;
}




.section{
    padding: 25px 0;
    border: 1px solid;
}
.box{
    background-color: #fff;
    border: 1px solid#ccc;
    padding: 15px;
    box-sizing: border-box;
    margin: 10px 0;
}