* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans' ,sans-serif;
    background: #DFF6FF;
    background-image: url("https://png.pngtree.com/thumb_back/fw800/background/20190221/ourmid/pngtree-technology-business-line-ppt-background-image_18886.jpg");
    background-position: center;
    background-size: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.wrapper {
    width: 1100px;
    margin: auto;
    position:relative;
}

.logo a {
    font-size: 50px;
    font-weight: bold;
    float: left;
    font-family: sans-serif;
    color: #44749d;
}

.menu {
    float:right;
}

nav{
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: #B8FFF9;
    z-index: 1;
    border-bottom:1px solid #B1B2FF;
    background-image: url("https://img.freepik.com/premium-vector/modern-white-gray-abstract-web-banner-background-creative-design-vector-abstract-graphic-design-banner-pattern-background-template_181182-18256.jpg");
    background-position: center;
    background-size: cover;
    
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

section {
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}

.kolom {
    margin-top: 50px;
    margin-bottom: 50px;
}

.kolom .deskripsi {
    font-size: 30px;
    font-weight: bold;
    font-family: 'Alkalami', serif;
    color: black;
    text-align: center;
}

h2{
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 45px;
    margin-bottom: 20px;
    color: #B1B2FF;
    width: 100%;
    line-height: 50px;
    text-align: center;
}

a.tbl-hijau{
    background: #47B5FF;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #FFFFFf;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-hijau:hover {
    background: #645CAA;
    text-decoration: none;
}

a.tbl-biru {
    background: #645CAA;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #FFFFFf;
    cursor: pointer;
    font-weight: bold;
}

a.tbl-biru:hover {
    background: #47B5FF;
    text-decoration: none;
}

p{
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
}
.footer{
    position: fixed;
    display: inline-block;
    bottom: 0px;
    width: 100%;
    background: #fff;
}
.footertop{
    position: relative;
    display: inline-block;
    height: auto;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #fff;
    color:#47B5FF
}
.footerbottom{
    position: relative;
    display: inline-block;
    height: 10px;
    width: 98%;
    margin: 10px;
    margin-top: 0;
    padding: 0;
    background: #fff;
    font-size: 150%;
    text-align:center;
    content: inherit;
}
a{
    color: inherit;
    text-decoration: none;
}
.gambar{
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
    margin-bottom: 20px;
    
    
}
.gambar .foto img{
    width: 300px;
    border-radius: 10px;
    
}
.foto{
    border: 1px solid black;
    padding:10px;
    color: black;
    background: white;
    border-radius: 10px;
    text-align: center;
    
    
}
h1{
    font-size: 20px;
    margin: auto;
}

.foto a{
    border:1px solid black;
    padding: 10px;
    color: black;
    background: #645CAA;
    text-decoration: none;
    border-radius: 10px;
    
    
}
.foto:hover{
    background-color: #FFFFFF;
    transform: scale(0.9);
    cursor:pointer;
}
.foto a:hover{
    background-color: #47B5FF;
    transform: scale(0.9);
    cursor:pointer;
 }

 .footer-Backgroud {
     background-color: #31C6D4;
     box-sizing: border-box;
     width: 100%;
     text-align: left;
     font: bold 16px sans-serif;
     padding: 10px 50px 10px 50px;
     margin-top: 80px;
     background-image: url("https://pic.90sheji.com/back_origin_pic/05/75/10/569edcf8a26636999048303ab22f97e1.jpg!/fh/465/quality/90/unsharp/true/compress/true/canvas/1000x465a0a0/cvscolor/FFFFFFFF");
    background-size: cover;
 }

 .footer-Backgroud .footer-kiri,
 .footer-Backgroud .footer-center,
 .footer-Backgroud .footer-kanan {
     display: inline-block;
     vertical-align: top;
 }

 /* Footer left */

 .footer-Backgroud .footer-kiri {
     width: 30%;
 }

 .footer-Backgroud .footer-link {
     color: black;
     margin: 20px 0 12px;
 }

 .footer-Backgroud .footer-link a {
     display: inline-block;
     line-height: 1.8;
     text-decoration: none;
     color: inherit;
 }

 .footer-Backgroud .footer-name {
     color: black;
     font-size: 14px;
     font-weight: normal;
     margin: 0;
 }

 .footer-Backgroud .footer-center {
     width: 35%;
 }


 .footer-Backgroud .footer-center i {
     background-color: #33383b;
     color: #ffffff;
     font-size: 25px;
     width: 38px;
     height: 38px;
     border-radius: 50%;
     text-align: center;
     line-height: 42px;
     margin: 10px 15px;
     vertical-align: middle;
 }

 .footer-Backgroud .footer-center i.email {
     font-size: 17px;
     line-height: 38px;
 }

 .footer-Backgroud .footer-center p {
     display: inline-block;
     color: bla;
     vertical-align: middle;
     margin: 0;
 }

 .footer-Backgroud .footer-center p span {
     display: block;
     font-weight: normal;
     font-size: 14px;
     line-height: 2;
 }

 .footer-Backgroud .footer-center p a {
     color: rgb(7, 12, 11);
     text-decoration: none;
     ;
 }

 .footer-Backgroud .footer-kanan {
     width: 30%;
 }

 .footer-Backgroud .footer-about {
     line-height: 20px;
     color: #92999f;
     font-size: 13px;
     font-weight: normal;
     margin: 0;
 }

 .footer-Backgroud .footer-about span {
     display: block;
     color: black;
     font-size: 18px;
     font-weight: bold;
     margin-bottom: 20px;
 }
 
 @media screen and (max-width:991.98px)
  {
    .wrapper{
        width:90%;
    }
    
    .logo a{
        display: block;
        width: 100%;
        text-align: center;
    }

    nav .menu {
        width: 100%;
        margin: 0;
    }
    
    nav .menu ul{
        text-align: center;
        margin: auto;
        line-height: 60px;
    }

    nav .menu ul li {
        display: inline-block;
        float: none;
    }

    section {
        display: block;
    }

    section img {
        display: block;
        width: 100%;
        height: auto;
    }
    .gambar{
        display: block;
        width: 100%;
    }
  }
  @media screen and (max-width:720px){
    .footer-Backgroud{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .footer-Backgroud .footer-center,.footer-Backgroud .footer-kanan,.footer-Backgroud .footer-kiri{
        width: 500px;
        margin: 10px;
        /* background-color: red; */
    }
}

@media screen and (max-width:991.98px){
    .wrapper{
        width:90%;
    }
    
    .logo a{
        display: block;
        width: 100%;
        text-align: center;
    }

    nav .menu {
        width: 100%;
        margin: 0;
    }
    
    nav .menu ul{
        text-align: center;
        margin: auto;
        line-height: 60px;
    }

    nav .menu ul li {
        display: inline-block;
        float: none;
    }

    section {
        display: block;
    }

    section img {
        display: block;
        width: 100%;
        height: auto;
    }

    
}
.ham-btn{
    position:absolute;
    top:25px;
    right: 2px;
    
}
i.ham-btn{
    font-size: 30px;
    display: none;
}
.menu.active{
    display: block;
}
@media screen and (max-width: 768px) {
    .menu{
        display: none;
    }
    i.ham-btn{
        display: block;
    }
}